
ENVIRONMENT=production


DATABASE_URL=postgresql+asyncpg://postgres.[project-ref]:[Sakshi20030619819]@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres?ssl=require
JWT_SECRET_KEY=udf4bnq4AkLR4GdLIdvTSINHqEszNpfnV4Kaw2dI9Cu
SENDGRID_API_KEY=re_LZeTeLTe_3fcss25PAuA7Jt4HNquCEu8j
SENDGRID_FROM_EMAIL=onboarding@resend.dev

OPENAI_API_KEY=mock-openai-key
OPENAI_API_BASE=https://api.openai.com/v1


OLLAMA_API_BASE=http://localhost:11434


VITE_API_BASE_URL=http://localhost:8000/api/v1
VITE_APP_NAME=LLM Command Center
